html, body { height: 100%; }
body {
  background: #002244;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 200px;
  height: 200px;
  border-top: 4px solid orange;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
